@font-face {
  font-family: "FrankRegular";
  src: url("../fonts/FrankRegular/FrankRegular.eot");
  src: url("../fonts/FrankRegular/FrankRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FrankRegular/FrankRegular.woff") format("woff"), url("../fonts/FrankRegular/FrankRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  font-family: "FrankRegular", sans-serif;
}

body {
  background-color: #E5E5E5;
}

.button {
  width: 224px;
  height: 50px;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #9F0023;
  border: 2px solid #9F0023;
  background-color: #E5E5E5;
  border-radius: 56px;
}

.button_submit {
  width: 162px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: #373334;
}

header {
  width: 1504px;
  height: 164px;
  margin: 0 auto;
  padding-top: 52px;
}

main {
  color: cyan;
}

footer {
  color: blue;
}