@font-face {
  font-family: "FrankRegular";
  src: url("../fonts/FrankRegular/FrankRegular.eot");
  src: url("../fonts/FrankRegular/FrankRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FrankRegular/FrankRegular.woff") format("woff"), url("../fonts/FrankRegular/FrankRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  font-family: "FrankRegular", sans-serif;
}

header {
  color: green;
}

main {
  color: cyan;
}

footer {
  color: blue;
}