@font-face {
  font-family: "FrankRegular";
  src: url("../fonts/FrankRegular/FrankRegular.eot");
  src: url("../fonts/FrankRegular/FrankRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FrankRegular/FrankRegular.woff") format("woff"), url("../fonts/FrankRegular/FrankRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  font-family: "FrankRegular", sans-serif;
}

body {
  background-color: #E5E5E5;
}

.container {
  width: 1504px;
  margin: 0 auto;
}

.button {
  width: 224px;
  height: 50px;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #9F0023;
  border: 2px solid #9F0023;
  background-color: #E5E5E5;
  border-radius: 56px;
  cursor: pointer;
}

.button_submit {
  width: 162px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: #373334;
}

.header {
  height: 164px;
  padding-top: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #373334;
  border-bottom: 4px solid #373334;
}

.header__contacts {
  grid-column: 2/4;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: space-between;
  gap: 45px;
}

.header__contacts_link {
  color: #373334;
  text-decoration: none;
}

.header__contacts_link:hover {
  text-decoration: underline;
}

.header__contacts_icon {
  margin-top: 5px;
}

.header__menu {
  grid-column: 1/3;
  align-self: center;
}

.header__menu .menu {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
}

.header__social {
  grid-column: 3/4;
  align-self: center;
}

.social {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.social__links {
  display: flex;
  padding-top: 3px;
  gap: 16px;
  justify-content: space-between;
}

main {
  color: cyan;
}

.footer {
  color: blue;
}