@font-face {
	font-family: "FrankRegular";
	src: url("../fonts/FrankRegular/FrankRegular.eot");
	src: url("../fonts/FrankRegular/FrankRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/FrankRegular/FrankRegular.woff") format("woff"),
		url("../fonts/FrankRegular/FrankRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

* {
	font-family: "FrankRegular", sans-serif;
}

body {
	background-color: #E5E5E5;
}

.container {
	width: 1504px;
	margin: 0 auto;
}

@import '../components/buttons/buttons';
@import '../components/header/header';
@import '../components/main/main';
@import '../components/footer/footer';