.main {
	padding-top: 55px;
	padding-bottom: 70px;

	&__title {
		font-weight: 700;
		font-size: 70px;
		line-height: 88px;
	}

	&__navi {
		margin-top: 5px;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		&_link {
			color: #959595;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&_divider {
			color: #959595;
		}
	}

	&__news {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 500px 500px;
		justify-items: center;
		column-gap: 50px;
		row-gap: 74px;
		margin-top: 83px;
	}
}

@import '../card/card';

.news_selection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
	margin-top: 55px;
}

.date_select {
	grid-column: 1 / 2;
	border: 2px solid #373334;

	&__input {
		padding: 19px 24px;
		background-color: #E5E5E5;
		font-size: 16px;
		font-style: normal;
		line-height: 1.4;
		border: none;
	}
}