.main {
	padding-top: 55px;
	padding-bottom: 70px;

	&__title {
		font-weight: 700;
		font-size: 70px;
		line-height: 88px;
	}

	&__navi {
		margin-top: 5px;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		&_link {
			color: #959595;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&_divider {
			color: #959595;
		}
	}

	&__news {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		column-gap: 50px;
		row-gap: 74px;
		margin-top: 83px;
	}
}

@import '../card/card';