.main {
	padding-top: 55px;
	padding-bottom: 70px;

	&__title {
		font-weight: 700;
		font-size: 70px;
		line-height: 88px;
	}

	&__navi {
		margin-top: 5px;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		&_link {
			color: #959595;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&_divider {
			color: #959595;
		}
	}

	&__news {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 500px 500px;
		justify-items: center;
		column-gap: 50px;
		row-gap: 74px;
		margin-top: 83px;
	}
}

@import '../card/card';

.news_selection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
	margin-top: 55px;
}

.date-picker {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #E5E5E5;
	cursor: pointer;
	user-select: none;
	border: 2px solid #373334;

	&:hover {
		background-color: #F3F3F3;
	}

	.selected-date {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #313131;
		font-size: 16px;
	}

	.dates {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #FFF;

		.month {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 2px solid #EEE;

			.arrows {
				width: 35px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #313131;
				font-size: 20px;

				&:hover {
					background-color: #F3F3F3;
				}

				&:active {
					background-color: #00CA85;
				}
			}
		}

		.days {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			height: 200px;

			.day {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #313131;
			}

			.day.selected {
				background-color: #00CA85;
			}
		}
	}

	.dates.active {
		display: block;
		z-index: 10;
	}
}