main.main 
	div.container 
		h1.main__title Все новости
		.main__navi
			a.main__navi_link(href="#") Главная
			span.main__navi_divider  / 
			a.main__navi_link(href="#") Новости
		.main__news
			.main__news_card.card
				a.card__link(href="#")  
					img.card__cover(src='images/news1.png' alt='news_cover')
				span.card__hashtag
					a.card__hashtag_links(href="#") Медицина
					a.card__hashtag_links(href="#") Общество
				span.card__date 02/02/2021 
				a.card__link(href="#")
					h2.card__title Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины 
					img.card__arrow(src="icons/card_arrow.svg", alt="card_arrow")
			.main__news_card.card 
				a.card__link(href="#")  
					img.card__cover(src='images/news2.png' alt='news_cover')
				span.card__hashtag
					a.card__hashtag_links(href="#") Медицина
				span.card__date 29/01/2021 
				a.card__link(href="#")
					h2.card__title Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля 
					img.card__arrow(src="icons/card_arrow.svg", alt="card_arrow")
			.main__news_card.card 
				a.card__link(href="#")  
					img.card__cover(src='images/news3.png' alt='news_cover')
				span.card__hashtag
					a.card__hashtag_links(href="#") Коммуналка
				span.card__date 29/01/2021 
				a.card__link(href="#")
					h2.card__title Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты 
					img.card__arrow(src="icons/card_arrow.svg", alt="card_arrow")
			.main__news_card.card 
				a.card__link(href="#")  
					img.card__cover(src='images/news4.png' alt='news_cover')
				span.card__hashtag
					a.card__hashtag_links(href="#") Политика
				span.card__date 29/01/2021 
				a.card__link(href="#")
					h2.card__title В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов 
					img.card__arrow(src="icons/card_arrow.svg", alt="card_arrow")
			.main__news_card.card 
				a.card__link(href="#")  
					img.card__cover(src='images/news5.png' alt='news_cover')
				span.card__hashtag
					a.card__hashtag_links(href="#") Коммуналка
				span.card__date 29/01/2021 
				a.card__link(href="#")
					h2.card__title В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку 
					img.card__arrow(src="icons/card_arrow.svg", alt="card_arrow")
			.main__news_card.card 
				a.card__link(href="#")  
					img.card__cover(src='images/news6.png' alt='news_cover')
				span.card__hashtag
					a.card__hashtag_links(href="#") Общество
				span.card__date 29/01/2021 
				a.card__link(href="#")
					h2.card__title ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год 
					img.card__arrow(src="icons/card_arrow.svg", alt="card_arrow")