.card {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto minmax(145px, auto) auto;
	grid-column-gap: 31px;

	&__link {
		grid-column: 1 / 3;
		display: block;
		color: #373334;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__cover {
		margin-bottom: 35px;
	}

	&__hashtag {
		grid-column: 1 / 2;

		&_links {
			margin-right: 20px;
			font-size: 16px;
			line-height: 22px;
			color: #9F0023;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__date {
		grid-column: 2 / 3;
		align-self: center;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #959595;
	}

	&__title {
		margin-top: 12px;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
	}

	&__arrow {
		display: block;
		position: absolute;
		bottom: 0;
		margin-top: 46px;
	}

	&__intro {
		display: none;
		font-weight: 300;
		font-size: 16px;
		line-height: 26px;
	}

	&-detailed {
		height: 359px;
		margin-top: 85px;
		grid-template-columns: 517px 597px auto;
		grid-template-rows: [top] auto auto auto [bottom];
		background-color: #fff;

		& .card {

			&__link {
				grid-column: 1 / 2;
				grid-row: top / bottom;
				align-self: start;
				justify-self: end;

				&-title {
					grid-column: 2 / 3;
					grid-row: 2 / 3;
				}
			}

			&__title {
				margin-top: 0;
			}

			&__cover {
				margin-top: 47px;
				margin-bottom: 0;
			}

			&__hashtag {
				grid-column: 2 / 3;
				grid-row: top / 2;
				align-self: end;
				padding-bottom: 23px;
			}

			&__date {
				grid-column: 3 / 4;
				grid-row: 1 / 2;
			}

			&__intro {
				display: block;
				grid-column: 2 / 3;
				grid-row: 3 / 4;
			}

			&__arrow {
				bottom: 47px;
				right: 50px;
			}
		}
	}
}