header.header.container 
	button.button(type='text') Предложить новость
	.header__contacts
		a.header__contacts_link(href="tel:+73513651711") 8 (3513) 65-17-11 
		a.header__contacts_icon(href="#") 
			img(src="icons/search_glass.svg", alt="search")
	nav.header__menu 
		ul.menu
			li.menu__item Новости
			li.menu__item Телепроекты
			li.menu__item Реклама
			li.menu__item Онлайн
			li.menu__item Программа передач
			li.menu__item Ещё
	div.header__social.social 
		+social_links 