include social_links/social_links.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Новости
		link(rel="stylesheet" href="css/reset.css")
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css")
		link(rel="stylesheet", href="css/itc-custom-select.css")
		link(rel="stylesheet" href="css/styles.css")
	body 
		include header/header.pug
		include main/main.pug
		include footer/footer.pug
		script(src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js")
		script(src="js/itc-custom-select.js")
		script(src="js/script.js")  