mixin social_links
	span.social__text Подписывайтесь на нас:
	.social__links
		a(href="https://www.youtube.com/" target='_blank') 
			img.social__links_icon(src="icons/youtube.svg", alt="youtube")
		a(href="https://ru-ru.facebook.com/" target='_blank')
			img.social__links_icon(src="icons/fb.svg", alt="facebook") 
		a(href="https://vk.com/" target='_blank')
			img.social__links_icon(src="icons/vk.svg", alt="vk") 
		a(href="https://ok.ru/" target='_blank')
			img.social__links_icon(src="icons/ok.svg", alt="odnoklassniki") 
		a(href="https://www.instagram.com/" target='_blank')
			img.social__links_icon(src="icons/instagram.svg", alt="instagram")
