.footer {
	height: 324px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 183px 139px;
	column-gap: 50px;

	&__social {
		grid-column: 1 /4;
		border-bottom: 2px solid #373334;
	}
}