footer.footer.container
	.footer__social.social.social-footer
		+social_links('social__text-footer','social__links-footer')
	.footer__copyright © 2021 «Златоустовское телевидение»
		a.footer__copyright_links(href="#") Политика конфиденциальности
	img.footer__dev_logo(src="icons/xpage.svg" alt="xpage_logo") 